/* Custom reusable card style */
.card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  background: #16a34a;
  color: white;
  transform: scale(1.05);
}

/* Product Card */
.product-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}